.recommendations {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  overflow: scroll;
}

.recommendation-card {
  padding: 5px;
}

.recommendation-card > img {
  width: 45vw;
}

.recommendation-card > h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 135px;
}

.start-recipe-btn {
  bottom: 0;
  margin-bottom: 10px;
  position: fixed;
  width: 95%;
}

.details-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}

.details-buttons > button {
  margin: 0 2.5px;
}
