.recommendations {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  margin-bottom: 25px;
}

.recommendation-card {
  padding: 5px;
}

.recommendation-card > img {
  width: 45vw;
}

.recommendation-card > h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 135px;
}

.start-recipe-btn {
  position: fixed;
  bottom: 0px;
}
